In [1]:
def a(n):
    n[2] = 300
    print(n)
    return None

def b(n):
    n += 100
    print(n)
    return None

an = [1,2,3,4,5]
bn = 9

print(an)
a(an)
print(an)

print(bn)
b(bn)
print(bn)

[1, 2, 3, 4, 5]
[1, 2, 300, 4, 5]
[1, 2, 300, 4, 5]
9
109
9

In [2]:
#关于列表的函数
l = ['a','i am a supureman',23,4+89]
l

['a', 'i am a supureman', 23, 93]

In [3]:
#元组 - tuple
t = ()
print(type(t))

<class 'tuple'>

In [8]:
#成员检测
t = (1,2,3,4,5)
a = input('>>>')
if a in t:
    print('yes')
else:
    print('no')

>>>5
no

In [11]:
#元组遍历，一般采用for
# 1 单层元组遍历
t = (1,2,3,4)
for i in t:
    print(i,end=' ')

1 2 3 4

In [ ]:
# 2 双层元组遍历
t = ((1,2,3,),(4,5,6),('i am a superman,you are the man'))
for i in t:
    print(i)